
.circle {
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
    font-size: 1.075rem;
    transition: background-color 0.2s;
}

.circle.active {
    border: 2px solid $primary;
    color: $primary;
}

.circle.completed {
    border: 2px solid $primary;
    background-color: $primary;
    color: $white;
}

.connector {
    width: 30px; /* Adjust as needed */
    height: 2px; /* Adjust thickness as needed */
    background-color: #ddd; /* Default color */
    align-self: center;
    transition: background-color 0.5s; /* Smooth transition for color change */
}

.connector.completed {
    background-color: $primary; /* Primary color */
}

.label {
    font-size: 14px;
}
.label.active {
    color: $primary;
}
.form-step {
    display: none;
}
.form-step.active {
    display: block;
}

.detail-employee {
    transition: padding-top 0s ease;
  }
  
.sticky-padding {
    padding-top: 140px;
}

/* Custom styles to make Select2 elements smaller */
.select2-container .select2-selection--single {
    height: calc(1.5em + 0.5rem + 2px); /* Match Bootstrap's form-select-sm height */
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    font-size: 0.875rem; /* Smaller font size, matches Bootstrap's .small */
    line-height: 1.5;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
}

.select2-container--bootstrap-5 .select2-results > .select2-results__options {
    font-size: 0.875rem; /* Smaller font size for dropdown options */
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__arrow {
    height: calc(1.5em + 0.5rem); /* Vertically align the arrow */
}